@import "../../app.scss";

.about {
  .headingContainer {
    width: 62%;
    margin: auto;
    text-align: center; 
    padding: 60px 70px 40px;

    @include mobile{
      padding: 15px;
      width: 90%;
      display: block;
    }

    .heading {
      color: orange;
      font-size: large;
      font-weight: 600;

      @include mobile{
        font-size: small;
      }

    }
    .small-line {
      width: 50px;
      height: 5px;
      border-radius: 5px;
      background-color: white;
      margin: 20px auto 0;
    }
  }

  .wrapper {
    display: flex;
    gap: 60px;
    padding: 30px 100px;

    @include mobile{
      display: block;
      gap:0px;
      padding: 0;
    }

    .intro {
      width: 50%;
    
      @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    
      h2 {
        margin-bottom: 25px;
        font-size: 38px;
    
        @include mobile {
          margin-bottom: 0px;
          font-size: 20px;
        }
      }
    
      p {
        font-size: 18px;
        color: gray;
        margin-bottom: 25px;
        padding: 0px 5px;
    
        @include mobile {
          font-size: 12px;
          padding: 15px;
          margin-bottom: 5px;
        }
      }
    
      button {
        background-color: orange; 
        margin: 10px ; 
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        border: none;
        cursor: pointer;
    
        @include mobile {
          width: 60%; 
          padding: 10px 10px;
          font-size: 12px;
          margin: 10px auto; 
          display: flex;
          justify-content: center; 
        }
      }
    }
    

    .skills {
        width: 50%;
        text-align: center;

        @include mobile{
          width: 100%;

        }
      
      
      h2 {
        margin-bottom: 25px;
        font-size: 38px;

        @include mobile{
          margin-bottom: 10px;
          font-size: 20px;
          text-align: center;
          margin-top: 25px;
        }
      }
      
      span {
        display: inline-block;  
        background-color: gray;
        color: white; 
        margin: 10px;
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 500;

        @include mobile{
          font-size: 10px;
          padding: 8px 12px;
          margin: 6px;
        }
      }
    }  
      
  }
}
